.ipynb_checkpoints
notebooks/plots

docs/_build

*.py[cod]
*.a
*.o
*.so
__pycache__

MANIFEST
*.egg
*.egg-info
dist
build
eggs
.eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
distribute-*.tar.gz

.cache
.tox
.*.sw[op]
*~
.project
.pydevproject
.settings
pip-wheel-metadata/

.DS_Store
